{% extends 'base.html.twig' %}

{% block title %}Le blog des Ewoks{% endblock %}

{% block body %}
    <main class="blog-container">
        <h1 class="blog-h1">Le blog des Ewoks</h1>
        {% for article in articles %}
            <section class="blog-section">
                <h2 class="blog-h2">{{ article.title }}</h2>
                <div class="blog-container-flex">
                    <div class="blog-content blog-date">
                        <p>
                            {{ article.content | raw }}  {#  The "... | raw" is a filter for not display HTML tag #}
                        </p>
                        <p class="blog-createdAt-date">
                            Édité le {{ article.createdAt | date('d/m/Y') }}
                        </p>
                    </div>
                    <div class="blog-image">
                        <img
                                src="{{ vich_uploader_asset(article, 'imageFile') }}"
                                alt="Image de l'article {{ article.title }}"
                        >
                    </div>
                </div>
            </section>
        {% endfor %}
        {#  For display navigate arrow and number of page into pagination #}
        {{ knp_pagination_render(articles) }}
    </main>
{% endblock %}
