<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('/assets/image/favicon.png') }}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{ asset('/assets/image/favicon.png') }}">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <meta
                name="Description"
                content="Un petit blog pour les Ewoks, juste un blog pour les Ewoks,
                           rien qu'un blog pour les Ewoks">
        <meta name="Author" content="Air-V">
        <meta name="Publisher" content="Super Ewoks">
        <meta name="Revisit-After" content="15 days">
        <meta name="Robots" content="all">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="global">
        <meta name="Geography" content="Planète Endor">
        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
                href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap"
                rel="stylesheet"
        >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
                href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap"
                rel="stylesheet"
        >
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {# JavaScript #}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
    </head>
    <body>

        {% block body %}{% endblock %}

    </body>
</html>
